.row {
    display: flex;
}

.grid {
    border: 1px solid black;
    display: flex;
    flex: 1;
    aspect-ratio: 1/1;
}

button {
    display: block;
    margin: auto;
    text-align: center;
    font-size: larger;
}